<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>vue-form-validator-demo</title>
    <style>
        .box {
            margin: 10px;
            padding: 10px;
            border: 1px solid #eee;
        }
    </style>
</head>
<body>
<div id="app">
    <form class="box">
        <h1>form1</h1>
        <div>
            <h2>On Input</h2>
            <input type="text" v-model="form.data.name">
            <span v-if="error.form" style="color: #c00">
                <span v-if="!error.form.data.name.isRequired">please input</span>
                <span v-if="error.form.data.name.isRequired && !error.form.data.name.min">too short</span>
                <span v-if="error.form.data.name.isRequired && !error.form.data.name.max">too long</span>
                <span v-if="error.form.data.name.min && error.form.data.name.max && !error.form.data.name.regex">illegal</span>
            </span>
        </div>
        <div>
            <h2>On Blur</h2>
            <input type="text" v-model.lazy="form.data.age">
            <span v-if="error.form" style="color: #c00">
                <span v-if="!error.form.data.age.isRequired">please input</span>
                <span v-if="error.form.data.age.isRequired && !error.form.data.age.length">length must to be 2</span>
                <span v-if="error.form.data.age.length && !error.form.data.age.regex">only number</span>
                <span v-if="error.form.data.age.length && error.form.data.age.regex && !error.form.data.age.fn">number should less than 60</span>
            </span>
        </div>
        <div>
            <h2>All Check</h2>
            <button @click.prevent="handleClick()">check</button>
            <span>{{form.valid}}</span>
        </div>
    </form>
    <form class="box">
        <h1>form2</h1>
        <div>
            <input type="text" v-model="form2.user">
        </div>
        <div>
            <input type="text" v-model="form2.addr">
        </div>
        <span>{{this.error.form2}}</span>
    </form>
</div>

<script src="./vue.min.js"></script>
<script src="../dist/vue-form-validator.js"></script>
<script>
  Vue.use(vueFormValidator)

  window.vm = new Vue({
    name: 'FormValidator',
    data () {
      return {
        error: {},
        form: {
          data: {
            name: 'Jason',
            age: '12'
          },
          valid: ''
        },
        form2: {
          user: '',
          addr: '',
          text: ''
        }
      }
    },
    methods: {
      handleClick(){
        this.form.valid = this.error.form.data.$valid
      }
    },
    mounted(){
      var rules = [
        {
          model: 'form.data.name',
          isRequired: true,
          regex: /^[A-Za-z]+$/,
          max: 6,
          min: 2
        },
        {
          model: 'form.data.age',
          isRequired: true,
          regex: /^\d+$/,
          fn: (val) => {
            return val <= 60
          },
          length: 2
        }
      ]
      this.$validate(rules, this.error)

      var rules2 = [
        {
          model: 'form2.user',
          isRequired: true,
          regex: /^[A-Za-z]+$/,
          max: 6,
          min: 2
        },
        {
          model: 'form2.addr',
          isRequired: true,
          regex: /^[A-Za-z\d ]+$/
        }
      ]
      this.$validate(rules2)
    }
  }).$mount('#app')
</script>
</body>
</html>
